* {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 10px;
  background-color: #26800c;
  color: white;
  text-align: center;
}

.title {
  font-size: 26px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-image: url('../assets/images/background.png');
  background-size: cover;
  overflow: hidden;
}
.invitation{
  max-width: 800px;
  color: white;
  text-align: justify;
  padding: 20px;
  margin-top: 50px;
  float: inline-end;
  line-height: 1.5em;
}

.formContainer {
  max-width: 350px;
  color: white;
  background-color: #26800cbc;
  padding: 20px;
  margin-top: 50px;
  text-align: justify;
}

.formContainer h3{
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  font-size: 16px;
}

.mb {
  margin-bottom: 15px;
}

input,
select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
}

input[type="submit"] {
  color: #26800c;
  background-color: silver;
  font-weight: bold;
}

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  background-image: url("../assets/icons/arrow.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 15px) center;
}

footer {
  background-color: #EEEBE8;
  padding: 40px;
  text-align: center;
}

.picture {
  width: 160px;
}

.description {
  display: inline-block;
  text-align: justify;
  color:#26800c;
  max-width: 40%;
  margin-left: 40px;
}
.description p,
.description h3 {
  margin-bottom: 20px;
}

.description h3 {
  font-size: 24px;
}

@media (max-width: 992px){

.formContainer{
  float: none;
  margin: auto;
}

 footer{
   display: inline-block;
   margin: auto;
 }

 .description{
   padding-top: 40px;
   max-width: 100vw;
   margin: auto;
 }
 
 .description h3{
   text-align: center;
 }
}
